<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django blog</title>
   <link href="{% static 'css/cyborg45.css' %}" rel="stylesheet">    
   <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
  </head>
<body>
 <div class="container-fluid">  
   <div class="row">
  <header class="col-md-12">
  <nav class="navbar navbar-toggleable-md">
   <div class="container-fluid">
    <a class="navbar-right navbar-brand" href="{% url 'home' %}">Saved By Grace</a>
    <a class="navbar-left text-warning" href="{% url 'post_new' %}">+New Blog Post</a>
   </div>
  </nav>
  </header>
{% if user.is_authenticated %}
<div class="container">
  <div class="row col-sm-3">
 <p class="myp text-nowrap">Hi {{user.username}}! Welcome back!</p>
  </div>
  <div class="row col-sm-3">
 <p class="myp"><a href="{% url 'logout' %}">Log Out</a></p>
 </div>
</div>
{% else %}
 <p class="myp">You are not logged in.</p>
 <p class="myp"><a href="{% url 'login' %}">Log In</a></p>
{% endif %} 
  <div class="container-fluid">

    {% block content %}
    <!--  Body content goes here -->
    {% endblock content %}
 
  </div>
</body>
</html>